<!-- navigation bar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Ministerios Doxologya</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Inicio</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ministerios<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/gozoypaz">Iglesia Gozo y Paz</a></li>
            <li><a href="/elcamino">Iglesia El Camino</a></li>
            <li><a href="/saca">SACA</a></li>
            <li><a href="/cedecam">CEDECAM</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recursos<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/sermones">Sermones</a></li>
            <li><a href="/radio">Radio</a></li>
          </ul>
        </li>
        <li><a href="/eventos">Eventos</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </div>

  </div>

</nav>
